.element__like {
  background-image: url(../../../images/heart.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  border: none;
  background-position: center;
  align-self: center;
  margin: 0;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.element__like:hover {
  opacity: 0.5;
  transform: scale(1.1);
}
