.elements__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  column-gap: 20px;
  row-gap: 17px;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 561px) {
  .elements__grid {
    /* grid-template-columns: repeat(auto-fill, minmax(282px, 1fr)); */
    justify-items: center;
  }
}
