.elements {
  max-width: 880px;
  padding: 0;
  display: flex;
}

@media screen and (max-width: 950px) {
  .elements {
    margin: 0 19px 0;
  }
}
@media screen and (max-width: 561px) {
  .elements {
    flex-direction: column;
  }
}
