.pop-up__bio {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  margin: 0;
  padding-bottom: 12px;
}
@media screen and (max-width: 561px) {
  .pop-up__bio {
    font-size: 14px;
    line-height: 17px;
  }
}
