.pop-up__btn {
  width: 100%;
  color: #fff;
  background-color: black;
  border: none;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-self: center;
  transition: opacity 0.2s ease-in;
  margin-top: 48px;
  cursor: pointer;
  padding-top: 14px;
  padding-bottom: 18px;
}

.pop-up__btn:hover {
  opacity: 0.75;
}
@media screen and (max-width: 561px) {
  .pop-up__btn {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 25px;
  }
}
