.pop-up__btn {
  width: 100%;
  color: #fff;
  background-color: black;
  border: 0;
  border-radius: 2px;
  align-self: center;
  transition: opacity 0.2s ease-in;
  margin-top: 18px; /*48 */
  cursor: pointer;
  padding-top: 14px;
  padding-bottom: 18px;
}

.pop-up__btn:hover {
  opacity: 0.75;
}
@media screen and (max-width: 561px) {
  .pop-up__btn {
    width: 238px;
    height: 46px;
    margin-top: 10px;
  }
}
