.pop-up__btn {
  width: 358px;
  height: 50px;
  color: #fff;
  background-color: black;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-self: center;
  transition: opacity 0.2s ease-in;
  margin-top: 48px;
}

.pop-up__btn:hover {
  opacity: 0.75;
}
