.pop-up__btn-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  align-self: center;
}
@media screen and (max-width: 561px) {
  .pop-up__btn-name {
    font-size: 14px;
    line-height: 17px;
  }
}
